# Ignore all subdirectories (generally pipeline outputs) except a few
# (must be at the top to avoid unignoring previously ignored files in these
# directories)
*/
!pg/
!pg/**
!switch/
!switch/*
switch/in/
switch/out/
!PowerGenome/
!PowerGenome/**

# include growth_rates/*.csv
!growth_rates/
growth_rates/*
!growth_rates/*.csv

# user-specific configuration
env.yml

# large data files (too big for github, can be re-created locally)
pg/extra_inputs/*.zip

# local cluster caches
pg/extra_inputs/cluster_assignments

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# editor settings
.ipynb_checkpoints
.vscode
*.code-workspace
.spyderproject
.spyproject

# VS Code settings
.vscode

# log files
*.log

# macOS metadata (can make repository impossible to clone on Windows
Icon?
.DS_Store
